<template name="sideBar">
  <div class="search">
      <input type="text" class="form-control input-lg js-company-input"
      placeholder="Enter company name" value="{{company}}" required>
  </div>
  <br>
  <ul class="list-group">
    <li class="list-group-item">
      <button type="button" class="btn btn-primary btn-block js-new-competitor">
        Add new competitor
      </button>
    </li>
    {{#unless isInRole 'admin,validator'}}
      <li class="list-group-item">
        <button type="button" class="btn btn-primary btn-block js-become-competitor">
          Become validator
        </button>
      </li>
    {{/unless}}
  </ul>
</template>