<template name="sideBar">
  <form class="search">
      <input type="text" class="form-control input-lg" name="search_text"
      placeholder="Enter company name" required>
  </form>
  <br>
  <ul class="list-group">
    {{#each item}}
      <li class="list-group-item">
        <a  class="link"
            role="button"
            data-toggle="collapse"
            href="#collapse{{slugify text}}"
            aria-expanded="false"
            aria-controls="collapse{{slugify text}}">

          <i class="fa {{ icon }}"></i>
          {{text}}
          <i class="fa fa-chevron-down"></i>
        </a>
        <div class="collapse">
          <ul>
            {{#each items}}
              <li role="separator" class="divider"></li>
              <li style="color:gray">{{ text }}</li>
              <li>
                <a class="sidebar_link" href="#">
                  <i class="fa {{ icon }}"></i>
                  {{ text }}
                </a>
              </li>
            {{/each}}
          </ul>
        </div>
      </li>
    {{/each}}
  </ul>
</template>