<template name="home">
  {{> navBar id="tf-menu" isFixed=true}}
  <div id="tf-home" class="text-center">
    <div class="overlay">
      <div class="content">
        <br><br><br>
        <br><br><br>
        <h2 class="emph2">Discover market competitors</h2>
        <h4 class="subtltType"></h4>
        <br><br><br>
        <div class="container-fluid" align="center">
          <form class="search">
            <div class="col-sm-3"></div>
            <div class="form-group col-sm-6"  style="float:center">
              <form class="search">
                <input
                  type="text"
                  class="form-control input-lg company-name"
                  name="search_text"
                  placeholder="Enter company name"
                  required
                >
              </form>
            </div>
            <div class="col-sm-3"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>