<template name="Team">
  <div id="tf-team" class="text-center">
    <div class="overlay">
      <div class="container">
        <div class="section-title center">
          <h2><strong>The team</strong></h2>
          <div class="line"><hr></div>
        </div>
        <div id="team" class="row">
          {{#each members}}
            <div class="col-sm-6 thumbnail">
              <img src="img/{{img}}" alt="..." class="img-circle team-img">
              <div class="caption">
                <h3>{{ name }}</h3>
                <p>{{ title }}</p>
                <!-- Note: 3{} instead of 2{} renders the html passed through the variable -->
                <p>{{{ experience }}}</p>
                <p>
                  {{#each meta }}
                    <a href="{{ url }}"><i class="fa {{ icon }}"></i></a>
                  {{/each}}
                </p>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>