<template name="newCompetitorModal">
  <div class="modal fade newCompetitorModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title text-center">
            Add new competitor
          </h4>
        </div>
          <div class="modal-body">
            {{#autoForm
              schema=schema
              id="newCompetitorModal"
            }}

              {{> afQuickField name="name" placeholder="Example"}}
              {{> afQuickField name="url" placeholder="http://example.com"}}
              {{> afQuickField name="location.address" placeholder="Main Street..."}}

              {{> afQuickField type="hidden" name="location.lat" data-geo="lat"}}
              {{> afQuickField type="hidden" name="location.lng" data-geo="lng"}}

              {{> afQuickField
                name="details"
                placeholder="Example works mainly with..."
                rows=10
              }}

              {{> afQuickField name="categories" placeholder="Enter categories to popularize this competitor list"}}

              {{> reCAPTCHA}}

              <br>

              <button type="submit" class="btn btn-default btn-block">
                Add competitor
              </button>
            {{/autoForm}}
            {{#unless isInRole 'admin,validator'}}
              <br>
              <p>This new competitor will be validated before getting into the list.</p>
              <p>
                If you want to help Competipedia get better
                <a href="#" class="js-become-validator">Become a validator</a>.
              </p>
            {{/unless}}
          </div>
      </div>
    </div>
  </div>
</template>