<template name="newCompanyModal">
  <div class="modal fade newCompanyModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title text-center">
            Add new company
          </h4>
        </div>
          <div class="modal-body">
            {{#autoForm
              schema=schema
              id="newCompanyModal"
              type="method"
              meteormethod="addCompany"
            }}

              {{> afQuickField name="name" placeholder="Write company full name"}}
              {{> afQuickField name="url" placeholder="Write company website URL"}}
              {{> afQuickField name="location.address" placeholder="Write company location"}}

              {{> afQuickField type="hidden" name="location.lat"}}
              {{> afQuickField type="hidden" name="location.lng"}}
              {{> afQuickField type="hidden" name="isValid" value=(isInRole 'admin,validator')}}

              {{> afQuickField
                name="details"
                placeholder="Describe in more details"
                rows=10
              }}

              {{> afQuickField name="categories" placeholder="Enter categories to popularize this competitor list"}}

              <button type="submit" class="btn btn-default btn-block">
                Add company
              </button>
            {{/autoForm}}
            {{#unless isInRole 'admin,validator'}}
              <p>This new company will be validated before getting into the list.</p>
              <p>
                If you want to help Competipedia get better
                <a href="#" class="js-become-validator">become a validator</a>.
              </p>
            {{/unless}}
          </div>
      </div>
    </div>
  </div>
</template>