<template name="search">
  {{> navBar}}
  <div class="overlay container">
    <div class="content">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            {{> sideBar
              loading=loading
              searchEmpty=searchEmpty
              listCompetitors=listCompetitors
            }}
          </div>
          <div class="col-md-9">
            <div class="panel panel-default">
              <div class="panel-heading">
                <a class="accordion-toggle" href="#" data-toggle="collapse">
                  <b>Competitors</b>
                </a>
              </div>
              <div class="panel-body">
                {{#if loadingGet}}
                  <p>Loading...</p>
                {{else}}
                  {{#if searchEmptyGet}}
                    <p>Search a company to find it competitors</p>
                  {{else}}
                    {{#each listCompetitorsGet}}
                      <div>
                        <i class="fa fa-check-circle-o {{isValid}}"></i>
                        <a href="{{url}}" target="_blank">{{name}}</a>
                      </div>
                    {{else}}
                      {{> emptySearch}}
                    {{/each}}
                  {{/if}}
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>